# Git
src/.git
src/.gitignore

# Python
src/__pycache__/

src/*$py.class
src/.pytest_cache/
src/.venv/
src/.env
src/stocks.db

# uv-specific
src/.uv/

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Mac/Windows system files
.DS_Store
Thumbs.db
